/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* ~~~~~~~~~~~~~~~~~~~~|  NEW LANDING DESIGN  |~~~~~~~~~~~~~~~~~~~~*/


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.page-template-template-landing-new .mobile {
    display: none;
}

.page-template-template-landing-new .desktop {
    display: block;
}

.page-template-template-landing-new .slick-slider .slick-dots {
    bottom: -60px;
}

.page-template-template-landing-new .slick-slider .slick-dots button {
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #192b38 !important;
}

.page-template-template-landing-new .hero-img.landing img {
    object-fit: cover;
}

.page-template-template-landing-new .hero-section.armor .hero-caption .btn-group {
    margin-top: 55px;
}

.page-template-template-landing-new .btn-goup-big .btn-big:first-child a {
    border-radius: 0px 0px 0px 5px;
}

.page-template-template-landing-new .btn-goup-big .btn-big:last-child a {
    border-radius: 0px 0px 5px 0px;
}

.page-template-template-landing-new .product_bottom_img iframe {
    border: 15px solid #f0f6f7;
    border-radius: 15px;
    box-shadow: 0 11px 32px 0 rgba(89, 89, 89, .52);
    position: relative;
    top: -95px;
    width: 560px !important;
    max-width: 100%;
    height: 310px !important;
}

.page-template-template-landing-new .hero-section .details-wrapper a.btn {
    margin-top: 20px;
}

.page-template-template-landing-new .hero-section .details-wrapper h3 {
    font-size: 3em;
    margin-top: 1.6em;
}

.page-template-template-landing-new .bola-points.product-cover .product-right .top-product .top-product-img #product_top_image {
    right: auto;
    left: 50%;
    top: 70%;
}

.page-template-template-landing-new .bola-points.product-cover .product-right .top-product .top-product-img .product-main-img {
    position: static !important;
}

.page-template-template-landing-new .bola-points.product-cover .container.custom-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-template-template-landing-new .bola-points.product-cover .product-left {
    width: 45%;
}

.page-template-template-landing-new .product-featured-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5rem;
    background: #FFF;
    padding: 1rem 0;
}

.page-template-template-landing-new .product-featured-description .left {
    width: 55%;
    margin-right: 5%;
    display: inline-block;
}

.page-template-template-landing-new .product-featured-description .right {
    width: 40%;
    display: inline-block;
}

.page-template-template-landing-new .product-featured-description .right p {
    font-size: 22px;
}

.page-template-template-landing-new .product-featured-description .right .btn {
    margin-top: 1rem;
}

.page-template-template-landing-new .product-left-img {
    margin-top: -90px;
    margin-bottom: 120px
}

.page-template-template-landing-new .bola-points.product-cover .product-left {
    width: 35%;
}

.page-template-template-landing-new .product-cover .product-left .product-left-img {
    width: 100% !important;
}

@media only screen and (min-width: 1441px) {
    .page-template-template-landing-new .product-cover .product-left .product-left-img {
        width: 80% !important;
        max-width: 330px;
    }
    .page-template-template-landing-new .case-study .case-study-video .top-img {
        top: -180px !important;
        right: -110px !important;
    }
}

.page-template-template-landing-new .bola-points.product-cover .product-left .product-content {
    top: 10%;
    left: 125%;
    padding-bottom: 0 !important;
}

.page-template-template-landing-new .product-cover .product-right .top-product {
    width: 100%;
}

.page-template-template-landing-new .bola-points.product-cover .product-right .top-product .top-product-img {
    width: 100%;
}

.page-template-template-landing-new .bola-points.product-cover .product-right .top-product .top-product-img .product-main-img.first {
    top: 0;
    left: 0;
    width: 100%;
}

.page-template-template-landing-new .bola-points.product-cover .product-right {
    width: 25%;
    margin: 0 0 0 auto;
    top: -50px;
    position: relative;
}

.page-template-template-landing-new .bola-wrap-demostration-image {
    width: 50.7%;
    margin: 0 4% 0 auto;
    position: relative;
    z-index: 10;
    transform: translateY(-65%);
}

.page-template-template-landing-new .section-experience {
    margin-top: -240px;
    padding-top: 0;
    position: relative;
    z-index: 4;
}

.page-template-template-landing-new .section-experience .content {
    text-align: center;
    max-width: 725px;
    margin: 35px auto;
    padding: 0 15px;
    font-size: 18px;
}

.page-template-template-landing-new .section-experience .landing-slider {
    background: transparent;
    padding: 0 0 100px;
    overflow: hidden;
    margin: 20px 0 50px;
}

.page-template-template-landing-new .section-experience .landing-slider .wrap-slide-landing {
    top: 0;
    background: transparent;
    box-shadow: none;
    width: 106%;
    margin-left: -3%;
}

.page-template-template-landing-new .hover-section .bg-cover .bar-options .bar-item.h-active,
.page-template-template-landing-new .hover-section .bg-cover .bar-options .bar-item:hover {
    background: url('../images/landing_new_getbola_bg.jpg') right center no-repeat !important;
    background-size: cover !important;
}

.page-template-template-landing-new .hover-section .bg-cover .bar-options .bar-item {
    height: 275px;
}

.page-template-template-landing-new .hover-section .bg-cover .bar-options .bar-item h5 {
    font-size: 32px;
}

.page-template-template-landing-new .hover-section .bg-cover .bar-options .bar-item p {
    font-size: 20px;
    width: 100%;
    line-height: 1.5;
    padding-left: 5px;
}

.page-template-template-landing-new .hover-section .bg-cover .bar-options .bar-item a {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 100px;
}

.page-template-template-landing-new .client-logo.our-partners {
    background: #e8eff4;
    padding: 65px 0 !important;
}

.page-template-template-landing-new .client-logo.our-partners .client-logo-inner .client-item.grayscale {
    opacity: 1 !important;
}

.page-template-template-landing-new .our-partners h2 {
    text-align: center;
    padding: 0 25px 15px;
}

.page-template-template-landing-new .our-partners .client-logo-inner {
    justify-content: center;
    display: flex;
}

.page-template-template-landing-new .our-partners .client-logo-inner::before,
.page-template-template-landing-new .our-partners .client-logo-inner::after {
    display: none;
}

.page-template-template-landing-new .bolawrap-presence {
    padding-top: 50px;
}

.page-template-template-landing-new .bolawrap-presence .video-block .slick-list {
    border-radius: 5px;
    overflow: hidden;
}

.page-template-template-landing-new .bolawrap-presence h2.featured-title {
    text-align: center;
    display: block;
    max-width: 900px;
    margin: 0 auto 60px;
}

.page-template-template-landing-new .bolawrap-presence .slick-slider .slick-dots li button {
    border-color: #192b38;
}

.page-template-template-landing-new .bolawrap-presence .slick-slider .slick-dots li.slick-active button {
    background-color: #192b38;
}

.page-template-template-landing-new .product-featured-description .left h2,
.page-template-template-landing-new .bolawrap-presence h2.featured-title,
.page-template-template-landing-new .section-experience .inner-slider-title h2 {
    font-size: 3.2rem;
}

.page-template-template-landing-new .product-featured-description .right p,
.page-template-template-landing-new .section-experience .inner-slider-title .content p,
.page-template-template-landing-new .product-content .product-content-item p {
    font-size: 18px !important;
}

.page-template-template-landing-new .client-logo .client-logo-inner .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #ffc208 !important;
}

.page-template-template-landing-new .client-logo .client-logo-inner .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background: white !important;
}

.page-template-template-landing-new .typeform-share.button {
    display: none !important;
}

.page-template-template-landing-new .bola-points .target_img {
    padding: 7px;
}

.landing-langs-menu-btn {
    border: 0;
    padding: 0;
    background: transparent !important;
    color: white;
}

.landing-langs-menu-container {
    width: 655px;
    min-height: 200px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s .0s ease, visibility .0s .3s linear;
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    overflow: hidden;
    border-radius: 5px;
    padding: 1.6rem 2rem 0;
}

.landing-langs-menu-container.active {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s .05s ease, visibility .0s .0s linear;
}

.landing-langs-menu-container h4 {
    text-transform: uppercase;
    color: white;
    font-size: 22px;
}

.landing-langs-menu-container .continent {
    margin-bottom: 1rem;
}

.landing-langs-menu-container .continent .language {
    display: inline-block;
    width: auto;
    margin-right: 3rem;
    margin-bottom: 1rem;
}

.landing-langs-menu-container .continent .language.active span {
    color: #d99904 !important;
}

.landing-langs-menu-container .continent .language.active small {
    color: #785301 !important;
}

.landing-langs-menu-container .continent .language span {
    display: block;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: normal;
}

.landing-langs-menu-container .continent .language small {
    display: block;
    font-size: 12px;
    color: gray;
}

@media only screen and (max-width: 767px) {
    .landing-langs-menu-container {
        top: 40px;
        width: calc(100vw - 60px);
        right: 10px;
        background-color: rgba(0, 0, 0, 0.95);
    }
    .page-template-template-landing-new .main-header .navigation ul li:not(.custom-btn) {
        margin-left: 1rem;
    }
    .page-template-template-landing-new .bola-points .target_img {
        padding: 5px;
    }
    /* .page-template-template-landing-new .bola-points.product-cover .target_img.active:before{
        height: calc(95% + 9px);
        width: calc(95% + 9px);
        top: -5px;
        left: -5px;
    } */
}

@media only screen and (min-width: 768px) {
    .page-template-template-landing-new .bola-points.product-cover .product-left .product-left-img #product_left_image_3 {
        top: 37%;
        left: auto;
        right: 37%;
    }
    .page-template-template-landing-new .bola-points.product-cover .product-left .product-left-img #product_left_image_4 {
        top: 58%;
        left: auto;
        right: 37%;
    }
    .page-template-template-landing-new .bola-points.product-cover .product-left .product-left-img #product_left_image_5 {
        top: auto;
        left: auto;
        right: 2%;
        bottom: 13%;
    }
    .page-template-template-landing-new .product-cover .product-left .product-content-line::before {
        top: 50%;
        transform: translateY(-50%);
    }
    .page-template-template-landing-new .product-cover .product-left .product-content-line {
        transform: translateY(-50%);
        top: 50%;
    }
    .page-template-template-landing-new .product-cover .product-left .product-content-item #svg {
        top: 50%;
        width: calc(100% - 23px);
        height: calc(100% - 18px);
        left: auto;
        right: 0;
    }
    .page-template-template-landing-new .product-cover .product-left .product-content-item.value-minus #svg {
        top: auto;
        bottom: 50%;
        width: calc(100% - 10%);
        height: calc(100% - 10px);
        left: auto;
        right: 0;
        top: auto !important;
    }
    .page-template-template-landing-new .product-cover .product-left .product-content-item[rel="product_left_image"] #svg {
        width: calc(100% - 25px);
        height: calc(100% - 16px);
    }
    .page-template-template-landing-new .product-cover .product-left .product-content-item[rel="product_left_image_2"] #svg {
        width: calc(100% - 22px);
        height: calc(100% - 19px);
    }
    .page-template-template-landing-new .product-cover .product-left .product-content-item[rel="product_left_image_3"] #svg {
        width: calc(100% - 31px);
        height: calc(100% - 4px);
    }
    .page-template-template-landing-new .product-cover .product-left .product-content-item[rel="product_left_image_4"] #svg {
        width: calc(100% - 30px);
        height: calc(100% - 8px);
    }
    .page-template-template-landing-new .product-cover .product-left .product-content-item[rel="product_left_image_5"] #svg {
        width: calc(100% - 23px);
        height: calc(100% - 18px);
    }
}

@media only screen and (max-width: 1024px) {
    .page-template-template-landing-new .product-cover .product-left .product-content-item[rel="product_left_image_3"] #svg {
        height: 100%;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 769px) {
    .page-template-template-landing-new .product-featured-description .left h2,
    .page-template-template-landing-new .bolawrap-presence h2.featured-title,
    .page-template-template-landing-new .section-experience .inner-slider-title h2 {
        font-size: 2.4rem;
    }
    .page-template-template-landing-new .product-featured-description .right p,
    .page-template-template-landing-new .section-experience .inner-slider-title .content p,
    .page-template-template-landing-new .product-content .product-content-item p {
        font-size: 17px !important;
    }
    .page-template-template-landing-new .section-experience {
        margin-top: -150px;
    }
}

@media only screen and (max-width: 768px) {
    .page-template-template-landing-new .mobile {
        display: block;
    }
    .page-template-template-landing-new .hero-section.armor .hero-caption .btn-group {
        margin-top: 30px;
    }
    .page-template-template-landing-new .product_bottom_img iframe {
        height: 50vw !important;
        top: 0;
    }
    .page-template-template-landing-new .bola-points.product-cover .mob .top-product {
        margin-bottom: 70px;
    }
    .page-template-template-landing-new .desktop {
        display: none;
    }
    .page-template-template-landing-new .hero-caption .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .page-template-template-landing-new .main-header .navigation ul li:not(.custom-btn) {
        display: inline-block !important;
    }
    .page-template-template-landing-new .main-header .navigation ul li.custom-btn {
        padding: 2px 9px;
        margin-top: 2px;
    }
    .page-template-template-landing-new .hero-section {
        padding-bottom: 150px;
    }
    .page-template-template-landing-new .bola-wrap-demostration-image {
        margin-top: 50px;
    }
    .page-template-template-landing-new .product-featured-description {
        margin-bottom: 2rem;
    }
    .page-template-template-landing-new .product-featured-description .left,
    .page-template-template-landing-new .product-featured-description .right {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-template-template-landing-new .product-featured-description .right .mobile img {
        max-width: 18px;
        transform: rotate(-90deg);
        margin: 15px 0;
    }
    .page-template-template-landing-new .product-featured-description h2,
    .page-template-template-landing-new .product-featured-description p {
        text-align: center;
    }
    .page-template-template-landing-new .product-featured-description a.btn {
        margin-top: 1rem;
    }
    .page-template-template-landing-new .bola-points .mob .product-left .product-main-img {
        width: 100%;
        margin: 0;
    }
    .page-template-template-landing-new .bola-points.product-cover .mob .product-left {
        width: 70%;
    }
    .page-template-template-landing-new .bola-wrap-demostration-image {
        transform: none;
        width: 90%;
        margin: 0 5%;
    }
    .page-template-template-landing-new .bola-points.product-cover .product-left .product-content {
        left: 0;
        top: 0;
        width: 100% !important;
    }
    .page-template-template-landing-new .hover-section .bg-cover {
        height: 580px;
    }
    .page-template-template-landing-new .hover-section .bg-cover .bar-options .bar-item {
        height: 160px;
        padding: 18px 0 !important;
    }
    .page-template-template-landing-new .hover-section .bg-cover .bar-options .bar-item:first-of-type {
        height: 260px;
        padding: 100px 0 18px !important;
    }
    .page-template-template-landing-new .hover-section .bg-cover .bar-options .bar-item a {
        padding: 0px 40px;
    }
    .page-template-template-landing-new .section-experience {
        margin-top: 0;
    }
    .page-template-template-landing-new .section-experience .inner-slider-title .content p {
        text-align: left;
    }
    .page-template-template-landing-new .section-experience .inner-slider-title h2 {
        text-align: left;
        margin: 0;
        padding: 0 15px;
    }
    .page-template-template-landing-new .section-experience .content {
        margin: 10px 0 30px;
    }
    .page-template-template-landing-new .product-featured-description .left h2,
    .page-template-template-landing-new .bolawrap-presence h2.featured-title,
    .page-template-template-landing-new .section-experience .inner-slider-title h2 {
        font-size: 2.1rem;
    }
    .page-template-template-landing-new .product-featured-description .right p,
    .page-template-template-landing-new .section-experience .inner-slider-title .content p,
    .page-template-template-landing-new .product-content .product-content-item p {
        font-size: 16px !important;
    }
    .page-template-template-landing-new .bolawrap-presence {
        margin-bottom: 50px;
        padding-top: 0;
    }
    .page-template-template-landing-new .bolawrap-presence .case-study-wrapper .case-study-text {
        display: none;
    }
    .page-template-template-landing-new .bolawrap-presence h2.featured-title {
        margin-bottom: 2rem;
    }
    .page-template-template-landing-new .bolawrap-presence h3.mobile {
        text-align: center;
        font-size: 1.6rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        margin-bottom: 50px;
    }
    .page-template-template-landing-new .section-experience .landing-slider {
        margin-bottom: 0;
        padding-bottom: 20px !important;
    }
    .page-template-template-landing-new .section-experience .landing-slider .slick-slider .slick-dots {
        bottom: -15px !important;
    }
    .page-template-template-landing-new .main-header .navigation ul li.menu-item-separator {
        height: 25px;
        margin-left: 5px;
        margin-right: -5px;
    }
    .page-template-template-landing-new .product-cover .product-left .product-left-img .target_img {
        width: 24px !important;
        height: 24px !important;
    }
    .page-template-template-landing-new .bola-points.product-cover .mob .top-product-img.product-img-cover .product-main-img {
        width: 100%;
        margin: 0 0 0 -50px;
        max-width: 260px;
    }
    .page-template-template-landing-new .bola-points.product-cover .mob .product-left .product-left-img #product_left_image_6 {
        right: auto;
        left: 60%;
        bottom: -280px;
    }
    .page-template-template-landing-new .bola-points.product-cover .mob .product-left .product-left-img #product_left_image_7 {
        right: 9%;
        bottom: -350px;
    }
    .page-template-template-landing-new .bola-points.product-cover .mob .product-left .product-left-img #product_left_image_8 {
        bottom: -400px;
        left: 4%;
    }
}

.page-template-template-landing-new .bola-points .product-content .product-content-item .product-top-svg.has-site-loaded.right-svg {
    top: 100%;
    bottom: 0;
    left: 100%;
    transform: translate(0%, -100%);
    height: 28px !important;
}

.page-template-template-landing-new .bola-points .product-content .product-content-item .product-top-svg.has-site-loaded.right-svg::before {
    top: 0;
    left: 0;
    height: 28px;
    width: 1px;
}

.page-template-template-landing-new .product-content .product-content-item .product-top-svg #svg1 {
    transform: translateY(13px);
    left: 0;
}

.page-template-template-landing-new .product-content .product-content-item .product-top-svg svg.point-before-detail-line {
    transform: translateY(calc(-100% + 13px)) scaleY(-1) !important;
}

.page-template-template-landing-new .product-content .product-content-item.active .product-content-line.bottom {
    top: 0;
}

.page-template-template-landing-new .product-content .product-content-item.active .product-content-line.bottom svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    height: 50px !important;
    top: 55px !important;
}

.page-template-template-landing-new .footer-headquarters {
    margin-bottom: 18px;
    display: block;
}

.page-template-template-landing-new .req-invite-cover {
    display: none !important
}

@media only screen and (min-width: 769px) {
    .page-template-template-landing-new .hero-section .hero-img video {
        min-height: 650px !important;
        object-fit: cover !important;
    }
}

@media only screen and (max-width: 1024px) {
    .page-template-template-landing-new .bola-points.product-cover .product-left .product-content {
        width: 85%;
    }
    .page-template-template-landing-new .bola-points .product-content .product-content-item .product-top-svg.has-site-loaded.right-svg {
        position: relative;
    }
}

@media only screen and (min-width: 1400px) {
    .page-template-template-landing-new .product-featured-description .left h2,
    .page-template-template-landing-new .bolawrap-presence h2.featured-title,
    .page-template-template-landing-new .section-experience .inner-slider-title h2 {
        font-size: 4rem;
    }
    .page-template-template-landing-new .product-featured-description .right p,
    .page-template-template-landing-new .section-experience .inner-slider-title .content p,
    .page-template-template-landing-new .product-content .product-content-item p {
        font-size: 22px !important;
    }
    .page-template-template-landing-new .section-experience {
        padding-bottom: 0px;
    }
    .page-template-template-landing-new .landing-slider .slick-slider .slick-dots {
        bottom: -10px;
    }
    .page-template-template-landing-new .section-experience .content {
        max-width: 785px;
        margin: 45px auto;
    }
    .page-template-template-landing-new .bola-points.product-cover .product-left .product-content {
        max-width: 310px;
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* ~~~~~~~~~~~~~~~~~~|  END NEW LANDING DESIGN  |~~~~~~~~~~~~~~~~~~*/


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/