// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Purchasing page.
// -----------------------------------------------------------------------------

/* purchase banner */
.purchase-banner {
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
	@include respond-below(sm) {
		background-attachment: initial;
    }

    .purchase-banner-content {
        height: 690px;
        display: flex;
        align-items: center;
        justify-content: center;
		position: relative;
		z-index: 1;

        @include respond-below(xl) {
            height: 590px;
        }

        @include respond-below(lg) {
            height: 450px;
        }

        @include respond-below(md) {
            height: 400px;
        }

        @include respond-below(sm) {
            height: 350px;
        }

        h1 {
            margin: 0;
            position: relative;
            top: -15px;
            color: $white;
        }
    }
}

/* purchase steps */
.purchase-steps {
    @include respond-below(md) {
        padding: 0px 20px;
    }

    .purchase-steps-wrapper {
        padding: 50px 0;
        margin-top: -80px;
        background-color: $white;
        border-radius: 8px;
        box-shadow: 0px 8px 51px 0px rgba(64, 64, 64, 0.2);
        position: relative;
        z-index: 2;

        @include respond-below(lg) {
            padding: 35px 0;
        }

        @include respond-below(md) {
            padding: 15px 35px;
        }

        @include respond-below(sm) {
            padding: 15px 20px;
        }

        .steps-block {
            border-right: 1px solid #cfd6db;
            padding: 0px 65px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @include respond-below(xxl) {
                padding: 0px 40px;
            }

            @include respond-below(lg) {
                padding: 0px 20px;
            }

            @include respond-below(md) {
                border-right: none;
                border-bottom: 1px solid #cfd6db;
                padding: 30px 0px;
            }

            &:last-child {
                border: none;
            }
        }

        .purchase-icon {
            margin-bottom: 25px;

            @include respond-below(sm) {
                margin-bottom: 20px;
            }
        }

        .text-block {
            h3 {
                color: $blue;
                margin-bottom: 5px;
            }

            p {
                font-size: $font-size-large;

                @include respond-below(xl) {
                    font-size: $font-size-base;
                }
            }
        }

        .btn {
            margin-top: 50px;
            align-self: flex-end;

            @include respond-below(xl) {
                margin-top: 35px;
            }

            @include respond-below(md) {
                margin-top: 25px;
            }
        }
    }
}


/* purchase accessories */
.section-header {
    .title {
        position: relative;

        @include respond-below(md) {
            margin: 0;
        }

        &:after {
            content: '';
            display: block;
            height: 10px;
            max-width: 150px;
            background-color: #e8eff4;
            margin: 30px auto 50px;

            @include respond-below(md) {
                margin: 15px auto 20px;
				height: 6px;
            }
        }
    }
}

.accessories {
    margin-bottom: 125px;

    @include respond-below(md) {
        margin-bottom: 80px;
    }

    .accessories-wrapper {
        @include respond-below(md) {
            padding: 0 20px;
        }
    }

    .accessories-block {
        border-right: 1px solid #cfd6db;

        @include respond-below(md) {
            border-right: none;
            border-bottom: 1px solid #cfd6db;
            padding: 30px 0px;
        }

        &:last-child {
            border: none;
			@include respond-below(md) {
				padding-bottom: 0;
			}
        }

        .accessories-img {
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 40px;

            @include respond-below(lg) {
                margin-bottom: 30px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                color: $brand-primary;
            }
        }

        p {
            font-size: $font-size-large;

            @include respond-below(xl) {
                font-size: $font-size-base;
            }
        }
    }
}

/* bolawrap-cta */
.bolawrap-cta {
    padding: 80px 0;
    margin: 140px 0 30px;
    text-align: center;
    background-color: #e8eff4;

    @include respond-below(xxl) {
        margin: 70px 0 0;
    }

    @include respond-below(md) {
        padding: 60px 0;
		display: block;
		margin: 0;
    }

    @include respond-below(sm) {
        padding: 40px 0;
    }

    .cta-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            margin: 10px 30px;
            color: $blue;
        }

        .btn {
            margin: 10px 15px;
        }
		.btn-link{
			color: $black;
			font-size: 16px;
			text-decoration: underline;
			font-weight: 400;
			line-height: 56px;
			white-space: nowrap;
			padding: 0;
			&:before{
				display: none;
			}
		}
    }
}

.inner-video-slider {
	.video-left{
		margin-bottom: 0;
    	padding-bottom: 40px;
	}
    .video-right {
        margin-top: 0;
    }
	.slick-dots{
		margin-bottom: 0;
	}
}

/* Case Study */
.case-study {
    padding: 150px 0px;
    overflow-x: hidden;

    @include respond-below(lg) {
        padding: 100px 0px;
    }

    @include respond-below(md) {
        padding: 70px 0px;
    }

    @include respond-below(sm) {
        padding: 50px 0px;
    }

    .case-study-wrapper {
        justify-content: space-between;
        align-items: center;
    }

    .case-study-text {
        @include respond-below(md) {
            margin-bottom: 40px;
        }

        .sub-title {
            display: inline-block;
            color: $brand-primary;
            margin-bottom: 10px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;

            @include respond-below(sm) {
                font-size: 18px;
            }
        }

        p {
            font-size: $font-size-large;

            @include respond-below(lg) {
                font-size: $font-size-base;
            }
        }

        .btn {
            margin-top: 30px;

            @include respond-below(md) {
                margin-top: 15px;
            }
        }
    }

    .case-study-video {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .top-img {
            position: absolute;
            top: -90px;
            right: -85px;
            z-index: 1;

            @include respond-below(xxl) {
                max-width: 220px;
            }

            @include respond-below(xl) {
                top: -60px;
                right: -50px;
            }

            @include respond-below(lg) {
                top: -40px;
                right: -30px;
                max-width: 145px;
            }

            @include respond-below(sm) {
                top: -30px;
                right: -10px;
                max-width: 120px;
            }
        }

        .bottom-img {
            position: absolute;
            left: -60px;
            bottom: -40px;
            z-index: 1;

            @include respond-below(xxl) {
                max-width: 200px;
                left: -30px;
                bottom: -25px;
            }

            @include respond-below(lg) {
                max-width: 140px;
                left: -15px;
                bottom: -20px;
            }
        }

        .video-block {
            position: relative;
            z-index: 2;
            width: 100%;

            .video-block-inner {
                display: block;
                padding: 15px;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0px 11px 32px 0px rgba(52, 52, 52, 0.45);
                background-color: rgba(#e8eff4, 0.62);
                width: 100%;

                @include respond-below(sm) {
                    padding: 10px;
                }

                a {
                    display: block;
                    position: relative;

                    &:after {
                        content: "";
                        background: url(../images/playbutton.png) center left no-repeat;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 53px;
                        width: 70px;

                        @include respond-below(sm) {
                            width: 55px;
                        }
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        pointer-events: none;
                        background-color: rgba($black, 0.4);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.purchase-cta{
	display: block !important;
}

@include respond-between(lg, xl) {}

@include respond-above(sm) {}

@include respond-below(md) {}