// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.single-post-cover{
	@include respond-below(md) {
		padding-top: 100px;
	}
    .d-flex{
        @include respond-below(lg) {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }
    .single-post-title {
        margin-bottom: 30px;
    }
    .post-sidebar {
        width: 420px;
        flex: 1 0 auto;
        padding-left: 70px;
        @include respond-below(xl) {
            padding-left: 30px;
            width: 380px;
        }
        @include respond-below(lg) {
            width: 100%;
            padding-left: 0;
            flex: auto;
            margin-top: 30px;
        }
        .widget-content{ 
            box-shadow: 0px 8px 51px 0px rgba(64, 64, 64, 0.2);
            h4 {
                margin-bottom: 0;
                padding: 40px 35px;
                background: #ff9c01;
                background: -moz-linear-gradient(left, #ff9c01 0%, #ffc208 100%);
                background: -webkit-linear-gradient(left, #ff9c01 0%, #ffc208 100%);
				text-align: center;
                @include respond-below(lg) {
                    text-align: center;
                }
            }
            ul {
                padding: 20px 30px 30px;
                position: relative;
                &:before {
                    content: "";
                    background: url(../images/curve.png);
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: contain;
                    height: 50px;
                    width: 100%;
                    position: absolute;
                    top: -50px;
                    left: 0;
                    z-index: 9;
                    pointer-events: none;
                }
                li{
                    display: block;
                    position: relative;
                    padding-top: 0;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #ccd7df;
                    padding-left: 10px;
                    line-height: 1.6;
                    span {
                        display: block;
                    }
                    &:before {
                        content: "";
                        border-left: 8px solid #ccd7df;
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        position: absolute;
                        left: -10px;
                        top: 10px;
                    }
                    a{
                        color: $black;
                        &:hover, &:focus{
                            color: $brand-primary;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border: 0;
                    }
                }
            }
			.btn-area{
				padding: 0 30px 30px;
			}
        }
    }
	.post-button {
		padding: 50px 0 0;
	}
	.fl-module-content {
		margin: 0;
	}
	.fl-row-content-wrap {
		padding: 0;
	}
}
@include respond-between(lg, xl) {}

@include respond-above(sm) {}

@include respond-below(md) {}